.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.img {
  width: 65px;
  height: 65px;
}

.name {
  color: $white;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
