.parameter {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
}

.img {
  width: 38px;
  height: 38px;
  padding: 8px;
  background: #fff;
  border-radius: 50%;
  filter: drop-shadow(1px 4px 10px rgba(71, 147, 255, 0.2));
}

.name {
  color: var(#{--text-default});
  opacity: 0.8;
  width: 150px;
  text-align: start;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.value {
  color: var(#{--text-default});
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
