.card {
  border-radius: 10px;
  background: var(#{--card-background-default});
  padding: 11px;
}

.weather {
  width: 48px;
  height: 48px;
  color: var(#{--text-default});

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.temperatureDay {
  color: var(#{--text-default});
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.temperatureNight {
  color: $gray;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.day,
.date {
  color: var(#{--text-default});
}

.description {
  color: $gray;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
