.description {
  border-radius: 20px;
  padding: 42px 32px;
  background: var(#{--components-background-default});
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
}
